# Python
__pycache__/
*.py[cod]

#Virtual Environments
venv/
.venv/

#terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
terraform.tfvars
*.auto.tfvars
terraform-state-backup.json

#Enviroment Variables
.env

#Scripts